<head>
<style>
</style>
</head>
<body>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: center;
}
.button {
  background-color: #F7F3F2;
}



body { font-size: 20px;}
p {
  text-align: left;}

h1 { background-color: #ADD8E6;
font-size: 3em;}







</body>
